<app-header (featureSelected) = "onNavigate($event)"></app-header>

<div style="margin-left: 20px" class=".container">
  <div class="row">
    <div class="col-md-12">
     <app-recepies *ngIf="loadedFeature === 'recipe'"></app-recepies>
     <app-shopping-list *ngIf = "loadedFeature !== 'recipe'"></app-shopping-list>
    </div>
  </div>
</div>